spring:
  application:
    name: yu-ai-agent
  ai:
    dashscope:
      api-key: sk-f63abef2aeff4ef596498c8b6cf2c8c7
      chat:
          options:
            model:
              chat:
                model: qwen-plus
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.yupi.yuaiagent.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
